################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Methoden-Uebung/MethodenUebung/.vs/MethodenUebung
/Methoden-Uebung/MethodenUebung/obj
/Methoden-Uebung/MethodenUebung/bin/Debug/net8.0
/Methoden-Uebung/MethodenUebung/.vs/ProjectEvaluation
*.zip
