################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Methoden-Uebung/MethodenUebung/.vs/MethodenUebung
/Methoden-Uebung/MethodenUebung/obj
